{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <div class="auction-first-container">
            <h1>Listing: {{ auction.title }}</h1>
            <form action="{% url 'add_watchlist' auction.id %}" method="post">
                {% csrf_token %}
                {% if in_watchlist %}
                    <button type="submit" class="btn btn-secondary btn-sm">Watchlist</button>
                {% else %}
                    <button type="submit" class="btn btn-secondary btn-sm">Watchlist</button>
                {% endif %}
            </form>
        </div>
        <div>
            {% if auction.image %}
                <img src="{{ auction.image.url }}" alt="Image of {{ auction.title }}" />
            {% else %}
                <p>Image don't found.</p>
            {% endif %}
        </div>
        <div>
            <p>Start Price: {{ auction.start_price }}</p>
            <p>Current Bid: {{ current_price }}</p>
        </div>
        <div>
            <form method="post" action="{% url 'lot_bid' auction.id %}">
                {% csrf_token %}
                {{ bidForm.as_p }}
                <button type="submit" class="btn btn-primary">Place bid</button>
            </form>
        </div>
        <div>
            <h3>Details</h3>
            <ul>
                <li>Listed by: <strong>{{ auction.creator }}</strong></li>
                <li>Category: <strong>{{ auction.get_category_display }}</strong></li>
                <li>Description: {{ auction.description }}</li>
            </ul>
        </div>
        <div>
            <div class="comments-list">
                {% for comment in auction.comment_post.all %}
                    <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
                {% endfor %}
            </div>
            <form method="post" action="{% url 'add_commentary' auction.id %}" class="comment-form">
                {% csrf_token %}
                {{ commentForm.as_p }}
                <button type="submit" class="btn btn-primary">Add Commentary</button>
            </form>
        </div>
        <div class="auction-last-container">
            {% if user.is_authenticated and user == auction.creator %}
                <form action="{% url 'close_auction' auction.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger">Close auction</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
