{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Active Listings: </h2>
        <div>
        {% for auction in list %}
            <a class="index-link" href="{% url 'auction' auction.id %}">
                <div class="index-container">
                    <div class="image-container">
                        {% if auction.image %}
                            <img src="{{ auction.image.url }}" alt="Image of lot" class="image-index" />
                        {% else %}
                            <p>Image error</p>  
                        {% endif %}
                    </div>
                    <div class="text-container">
                        <h3>Title: {{ auction.title }}</h3>
                        <p>Start price: {{ auction.start_price }}</p>
                        <p>Created at: {{ auction.created_at }}</p>
                    </div>
                </div>
            </a>
        {% empty %} 
            <p>Auctions don't found</p>
        {% endfor %}
        </div>
    {% else %}
        To see active listings you need to be logged in
    {% endif %}
{% endblock %}
